<%= form_for @lesson,url:"/admin/lessons/#{@lesson.id}",html: { class: "col-md-6 mb-3" } do |f| %>
    <% if @lesson.errors.any? %>
        <div class="alert alert-danger error_explanation">
            <h2>
            <%= pluralize(@lesson.errors.count, "error") %> prohibited
            this course from being saved:
            </h2>
            <ul>
                <% @lesson.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
 
     <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Edit Lesson</h1>
    </div>
     <% if @chapters!=[] %>
        <div class="form-group">
            <label for="chapter_id">Related Chapter:</label>
            <%= select_tag "chapter_id", options_from_collection_for_select(@chapters, "id", "title") %>
        </div>
    <% else %> 
        No Chapters Added Yet. <%= link_to("Create a Chapter",admin_chapters_path) %>
    <% end %>
    <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title,:class => "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :content %>
        <%= f.text_area :content,:class => "form-control" %>
    </div>
    <div class="form-check">
        <%= f.check_box :is_a_lab,:class => "form-check-input" %>
        <%= f.label :is_a_lab,:class => "form-check-label" %>
    </div>
    <%= f.submit %>
<% end %>