
<div class="user-show-container text-center col-md-6 offset-md-3 mt-3 mb-3 pb-0">
<% flash.each do |key, value| %>
<div class="flash-messages">
  <% if key=="success" %> 
   <div class="alert alert-success"><%= flash[:success] %></div>
 <% end %>
 </div>
<% end %>

Welcome to your Dashboard, <b><%= @user.username %></b>

<div>
    Your Progess: 
    <p><b><%= all_courses_completed %></b> course(s) completed </p>
    <p><b><%= all_chapters_completed %></b> chapter(s) completed </p>
    <p><b><%= all_lessons_completed %></b> lesson(s) completed </p>
</div>
<div class="jumbotron jumbotron-fluid actions">
    <%= link_to 'Edit Profile', edit_user_path,:class=>"btn btn-primary" %>
    <%= link_to 'Destroy Profile', user_path(@user),data: {:confirm => 'Are you sure?'}, :method => :delete,:class=>"btn btn-danger" %>
</div>
</div>