<div class="container">
    <% flash.each do |key, value| %>
    <div class="flash-messages">
        <div class="alert alert-<%= key %>"><%= flash[key] %></div>
    </div>
    <% end %>
    <%= form_for @user,url:"/admin/users/#{@user.id}", html: { class: "signup-form col-md-6 offset-md-3" } do |f| %>
        <div class="text-center">
            <h1>Edit User</h1>
        </div>
        <div class="form-group">
            <%= f.label :username %>
            <%= f.text_field :username,:class => "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email,:class => "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password,:class => "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation,:class => "form-control" %>
        </div>
        <div class="form-check">
            <%= f.check_box :admin,:class => "form-check-input" %>
            <%= f.label :admin,:class => "form-check-label" %>
        </div>
        <%= f.submit "Edit User" , :class => "auth-buttons col-md-12 btn btn-primary" %>
    <% end %>
</div>