<div class="container">
<% flash.each do |key, value| %>
<div class="flash-messages">
  <% if key=="success" %> 
   <div class="alert alert-success"><%= flash[:success] %></div>
 <% end %>
 </div>
<% end %>
<div class="container">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Users</h1>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
        <tr>
            <th scope="row"><%= user.id %></th>
            <td><%= user.username %></td>
            <td><%= user.email %></td>
            <td>
                <% if user.admin %>
                    <span class="primary">ADMIN</span>
                <% else %>
                    <span class="primary">SIMPLE USER</span>
                <% end %>            
            </td>
            <td>
                <a class="btn btn-success" href="/admin/users/<%= user.id %>"><i class="fa fa-eye"></i></a>
                <a class="btn btn-primary" href="/admin/users/<%= user.id %>/edit"><i class="fa fa-pencil"></i></a>
                <%= link_to admin_user_path(user),data: {:confirm => 'Are you sure?'}, :method => :delete,:class=>"btn btn-danger" do  %>
                    <i class="fa fa-trash"></i>
                <% end %>
            </td>
        </tr>
    <% end %>
  </tbody>
</table>
<%= form_for @user,url:"/admin/users",html: { class: "col-md-6 mb-3" } do |f| %>
    <% if @user.errors.any? %>
        <div class="alert alert-danger error_explanation">
            <h2>
            <%= pluralize(@user.errors.count, "error") %> prohibited
            this user from being saved:
            </h2>
            <ul>
                <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

     <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Add New user</h1>
    </div>
    <div class="form-group">
        <%= f.label :username %>
        <%= f.text_field :username,:class => "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email,:class => "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password,:class => "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation,:class => "form-control" %>
    </div>
    <div class="form-check">
        <%= f.check_box :admin,:class => "form-check-input" %>
        <%= f.label :admin,:class => "form-check-label" %>
    </div>
    <%= f.submit %>
<% end %>
</div>
</div>