
<div class="user-show-container text-center col-md-6 offset-md-3 mt-3 mb-3 pb-0">
<div class="jumbotron jumbotron-fluid">
    <h2>Chapter Details</h2>
</div>
<div>
    <h5 scope="row">Chapter ID:<span> <%= @chapter.id %></span></h5>
    <h5 scope="row">Chapter Title:<span> <%= @chapter.title %></span></h5>
    <h5 scope="row">Total Lessons:<span> <%= @chapter.lessons.count %></span></h5>
    <h5 scope="row">Related Course:<span> <%= @chapter.course ? @chapter.course.title : "[No Course Related]" %></span></h5>
</div>
<div class="jumbotron jumbotron-fluid actions">
    <%= link_to 'Edit Chapter', edit_admin_chapter_path,:class=>"btn btn-primary" %>
    <%= link_to 'Destroy Chapter', admin_chapter_path(@chapter),data: {:confirm => 'Are you sure?'}, :method => :delete,:class=>"btn btn-danger" %>
</div>
</div>